.form-center {
	display: flex;
	flex-direction: column;
	position: relative;
}

.form-center label {
	font-size: 25px;
	margin-bottom: 8px;
	color: #fff; /* Text color */
}

.form-center select {
	position: relative;
	width: 100%;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #fff;
	color: var(--black-color);
	transition: border-color 0.3s ease-in-out;
	font-size: 20px;
}

@media screen and (max-width: 700px) {
	.form-center {
		display: block;
		margin: 20px auto;
	}
	.form-center label {
		font-size: 20px;
	}
	.form-center select {
		padding: 10px;
	}
}
