.about-author {
	display: block;
	text-align: center;
}

.about-author__center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: center;
	position: relative;
}

.about-author__image {
	flex-basis: 40%;
	padding: 20px;
	max-width: 500px;
	height: 300px;
	display: flex;
	justify-content: center; /* Center horizontally within the image container */
	align-items: center;
}

.about-author__image img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.about-author-desc {
	flex-basis: 60%;
	padding: 20px;
}
.about-author-desc h1 {
	margin-bottom: 20px;
}

.about-author-desc p {
	text-align: justify;
	font-size: 23px;
	line-height: 28px;
	margin-bottom: 10px;
}
.about-author-btn {
	margin-top: 20px;
}

.about-author-back button {
	text-align: center;
	outline: none;
	border: none;
	font-size: 25px;
	color: #fff;
	background-color: #333;
	cursor: pointer;
	padding: 15px;
	border-radius: 15px;
}
.about-author-back button:hover {
	opacity: 0.85;
}

@media screen and (max-width: 1000px) {
	.about-author__center {
		display: block;
	}
	.about-author__image {
		margin: 0 auto;
	}
}

@media screen and (max-width: 400px) {
	.about-author-desc p {
		font-size: 24px;
	}
}