.container {
	position: relative;
	max-width: 100%;
	width: 1300px;
	margin: 20px auto 100px;
	padding: 20px 15px 0;
}
@media screen and (max-width: 385px) {
	.container {
		padding: 20px 10px 0;
	}
}
