.sidebar-button {
	display: block;
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	top: 300px;
	left: 4px;
	z-index: 5;
	border: none;
	background-color: var(--secondary-bg-color);
	transform: translateX(-50%);
	opacity: 1;
	cursor: pointer;
	transition: all ease-in-out 0.5s;
}

.icon-angle {
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	font-size: 27px;
	color: #fff;
}

@media screen and (max-width: 720px) {
	.sidebar-button {
		top: 300px;
	}
}
@media screen and (max-width: 450px) {
	.sidebar-button {
		top: 350px;
	}
}
