:root {
	--bg-color: #f6f3ed;
	--secondary-bg-color: #413c31;
	--black-color: #333;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
}

main {
	min-width: 100%;
	min-height: 100vh;
	display: flex;
	position: relative;
	justify-content: stretch;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

table {
	border: 1px solid #000;
	border-collapse: collapse;
	max-width: 100%;
	margin: 25px 0 25px;
	font-size: 14px !important;
}
th {
	text-align: center;
}
th,
td {
	border: 1px solid #000;
	width: 50%;
	padding: 2px;
}

.nav-btn {
	position: absolute;
	left: 25px;
	top: 25px;
	margin-top: 15px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 35px;
	display: block;
}

@media (max-width: 800px) {
	.nav-btn {
		font-size: 25px;
	}
	.nav-btn-close {
		font-size: 25px;
	}
}

.mode-toggle-btn {
	position: absolute;
	top: 40px;
	right: 30px;
	cursor: pointer;
	background: none;
	border-radius: 50%;
	color: #fff;
	border: none;
	outline: none;
	font-size: 30px;
}

@media screen and (max-width: 800px) {
	.mode-toggle-btn {
		font-size: 24px;
		right: 20px;
	}
}
@media screen and (max-width: 800px) {
	.mode-toggle-btn {
		font-size: 24px;
	}
}

.backToTop.visible {
	opacity: 0.2;
	transition: all 0.3s ease 0s;
}
.backToTop.visible:hover {
	opacity: 1;
}

@media (max-width: 1200px) {
	.backToTop {
		bottom: 30px;
		right: 20px;
	}
}

.modal-content button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	color: #333;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

.modal-content .tag-message {
	padding: 5px;
	font-size: 20px;
}

.modal-open:global {
	overflow-y: hidden;
	margin-right: 21px;
}
.tag {
	display: inline;
}

/* Categories */

.category-box {
	width: 100%;
	text-align: start;
	margin-bottom: 250px;
}
.category-list {
	border: none;
	height: auto;
}

.category-list li {
	cursor: pointer;
	color: #fff;
	font-size: 23px;
	font-weight: 600;
}
.category-list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 5px 15px 20px;
	font-size: 25px;
	transition: all 0.7s ease-in-out;
	text-align: start;
	text-transform: uppercase;
}

.category-box .category-list .outer-li:after {
	content: "";
	display: block;
	border-bottom: 5px solid var(--bg-color);
}

.category-list-item:hover {
	background-color: var(--bg-color);
}
.angle-icon {
	font-size: 30px;
}

.category .category-list-item {
	padding: 20px;
	width: 100%;
}
.book-list-item {
	display: block;
	padding: 15px 5px 15px 70px;
	font-size: 25px;
	transition: all 0.6s ease;
	text-align: start;
}
.category-box .category-list .inner-li {
	font-weight: normal;
}

.category-box .category-list .inner-li:after {
	content: "";
	display: block;
	border-bottom: 1px solid var(--bg-color);
}

.category-box .category-list .inner-li:hover {
	background-color: var(--secondary-bg-color);
}

.selected-category {
	background-color: var(--bg-color);
	color: #000;
}
.selected-book {
	background-color: #fff;
	color: #000;
	font-weight: 600;
}
