:root {
	--bg-color: #a0e2d2;
	--black-color: #333;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
}


main {
	min-width: 100%;
	min-height: 100vh;
	display: flex;
	position: relative;
	justify-content: stretch;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* CONTAINER */

.container {
	position: relative;
	max-width: 1300px;
	margin: 20px auto 0;
	padding: 20px 20px 150px;
}

/* CONTENT */
.content {
	margin: 5px 10px;
}

.content .author {
	text-align: end;
	font-size: 21px;
	font-style: italic;
}

.book h1 {
	text-align: center;
	margin: 25px 10px 5px;
	font-size: 40px;
}

.book h4 {
	text-align: center;
	font-size: 25px;
	font-style: italic;
	margin-bottom: 25px;
}

.description {
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
	text-align: justify;
}

.book-content h2 {
	margin: 60px 0 15px;
	text-align: center;
}

.book-content p {
	text-indent: 40px;
	text-align: justify;
	font-size: 23px;
	line-height: 28px;
	margin-bottom: 10px;
}

.download {
	position: absolute;
	top: -10px;
	left: 20px;
	outline: none;
	border: none;
	background-color: var(--black-color);
	cursor: pointer;
	padding: 12px;
	border-radius: 15px;
	transition: all 0.6s ease;
	margin: 20px 10px;
	font-size: 15px;
	color: #fff;
	font-weight: 600;
}


.download:hover {
	opacity: 0.85;
}

@media (max-width: 600px) {
	.book-content {
		margin-top: 60px;
	}
}

@media screen and (max-width: 400px) {
	.book-content p {
		font-size: 24px;
	}
}
/* CONTENT */

/* ABOUT AUTHOR BUTTON */
.about-author-btn {
	font-size: 25px;
	color: #fff;
	cursor: pointer;
	transition: all 0.6s ease;
	padding: 15px 0;
}
.about-author-btn:hover {
	background-color: var(--bg-color);
}

/* ABOUT AUTHOR BUTTON */

/* HEADER */
.header {
	background-color: var(--black-color);
	color: #fff;
	padding: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 100%;
	flex-wrap: wrap;
	text-align: center;
	position: relative;
}

.header-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.header h1 {
	font-size: 45px;
}

.mode-toggle-btn {
	position: absolute;
	top: 40px;
	right: 30px;
	cursor: pointer;
	background: none;
	border-radius: 50%;
	color: #fff;
	border: none;
	outline: none;
	font-size: 30px;
 }

 @media screen and (max-width: 800px) {
	.mode-toggle-btn {
		font-size: 24px;
		right: 20px;

	}
}
 @media screen and (max-width: 800px) {
	.mode-toggle-btn {
		font-size: 24px;
	}
}

.nav-btn {
	position: absolute;
	left: 25px;
	top: 25px;
	margin-top: 15px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 35px;
	display: block;
}

.nav-btn-close {
	position: absolute;
	left: 25px;
	top: 7px;
	margin-top: 15px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 35px;
	display: block;
}
@media (max-width: 1000px) {
	.header {
		width: 100%;
		max-width: 1000px;
	}
	.header-menu {
		display: none;
	}
	.header h1 {
		font-size: 30px;
		margin-left: 40px;
		margin-right: 30px;
	}
}

@media (max-width: 800px) {
	.header {
		display: block;
	}
	.form-center {
		max-width: 70%;
		margin: 0 auto;
	}
	.nav-btn {
		font-size: 25px;
	}
	.nav-btn-close {
		font-size: 25px;
	}
}

/* HEADER */

/* FORM */

.form-center {
	display: flex;
	flex-direction: column;
	position: relative;
}

.form-center label {
	font-size: 25px;
	margin-bottom: 8px;
	color: #fff; /* Text color */
}

.form-center select {
	position: relative;
	width: 100%;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #fff;
	color: var(--black-color);
	transition: border-color 0.3s ease-in-out;
	font-size: 20px;
}

@media screen and (max-width: 700px) {
	.form-center {
		display: block;
		margin: 20px auto;
	}
	.form-center label {
		font-size: 20px;
	}
	.form-center select {
		padding: 10px;
	}
}

@media (max-width: 490px) {
	.form-center {
		max-width: 90%;
	}
}
/* FORM */

/* BACK TO TOP */
.backToTop {
	position: fixed;
	bottom: 130px;
	right: 30px;
	background-color: var(--black-color);
	color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 999;
	font-size: 22px;
}

.backToTop.visible {
	opacity: 0.2;
	transition: all 0.3s ease 0s;
}
.backToTop.visible:hover {
	opacity: 1;
}

@media (max-width: 1200px) {
	.backToTop {
		bottom: 30px;
		right: 20px;
	}
}

/* ABOUT AUTHOR */
.about-author {
	display: block;
	text-align: center;
}

.about-author__center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: center;
	position: relative;
}

.about-author__image {
	flex-basis: 40%;
	padding: 20px;
	max-width: 500px;
	height: 300px;
	display: flex;
	justify-content: center; /* Center horizontally within the image container */
	align-items: center;
}

.about-author__image img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.about-author-desc {
	flex-basis: 60%;
	padding: 20px;
}
.about-author-desc h1 {
	margin-bottom: 20px;
}

.about-author-desc p {
	text-align: justify;
	font-size: 23px;
	line-height: 28px;
	margin-bottom: 10px;
}
.about-author-btn {
	margin-top: 20px;
}

.about-author-back button {
	text-align: center;
	outline: none;
	border: none;
	font-size: 25px;
	color: #fff;
	background-color: #333;
	cursor: pointer;
	padding: 15px;
	border-radius: 15px;
}
.about-author-back button:hover {
	opacity: 0.85;
}

@media screen and (max-width: 1000px) {
	.about-author__center {
		display: block;
	}
	.about-author__image {
		margin: 0 auto;
	}
}

@media screen and (max-width: 400px) {
	.about-author-desc p {
		font-size: 24px;
	}
}

/* BURGER MENU */

.burger-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
	min-height: 100vh;
	background-color: #4a4646;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
	transition: right 0.3s ease-in-out;
	z-index: 998;
	border-right: 2px solid var(--black-color);
}
.burger-menu button {
	margin-top: 35px;
}
/* Burger Menu Content Styles */
.burger-menu-content {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px 0px;
	text-align: center;
}
.burger-menu-content h2 {
	font-size: 35px;
	color: var(--bg-color);
}

.burger-menu-content h2:after {
	content: "";
	display: block;
	border-bottom: 6px solid var(--bg-color);
	margin-top: 42px;
}

@media (max-width: 1300px) {
	.burger-menu {
		width: 35%;
	}
}
@media (max-width: 1000px) {
	.burger-menu {
		width: 45%;
	}
}
@media (max-width: 900px) {
	.burger-menu {
		width: 100%;
	}
	.burger-menu-content h2 {
		font-size: 30px;
		color: var(--bg-color);
	}
}

/* MODAL */
/* Modal container */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Modal content */
.modal-content {
	position: relative;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	max-width: 80%;
	max-height: 80%;
	overflow-y: auto;
	font-size: 20px;
	font-weight: 500;
}

/* Close button */
.modal-content button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	color: #333;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

.modal-content .tag-message {
	padding: 5px;
	font-size: 20px;
}

.modal-open {
	overflow-y: hidden;
	margin-right: 20px;
 }
.tag {
	display: inline;
}

.symbol {
	cursor: pointer;
}
.sidebar {
	position: relative;
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 350px;
	height: 100vh;
	flex: 0.6;
	background-color: #4a4646;
	border-right: 2px solid #4a4646;
	opacity: 0.3;
	display: block;
	transition: all ease-in-out 0.5s;
	z-index: 10;
	overflow-y: scroll;
}

.sidebar:hover {
	opacity: 1;
}
.sidebar h2 {
	text-align: center;
	padding: 15px 0 0;
	font-size: 30px;
	color: var(--bg-color);
}

.sidebar h2:after {
	content: "";
	display: block;
	border-bottom: 3px solid var(--bg-color);
	margin-top: 15px;
}

.sidebar a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	display: block;
	padding: 15px 5px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.sidebar li {
	list-style: none;
}
.sidebar li:after {
	content: "";
	display: block;
	border-bottom: 1px solid var(--bg-color);
}

.sidebar a:hover {
	background-color: var(--bg-color);
	color: var(--black-color);
}

.sidebar-button {
	display: block;
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 300px;
	left: 0px;
	z-index: 5;
	border: none;
	background-color: rgb(76, 153, 149);
	transform: translateX(-50%);
	opacity: 1;
	cursor: pointer;
	transition: all ease-in-out 0.5s;
}

.icon-angle {
	position: absolute;
	right: 1px;
	top: 12px;
	font-size: 27px;
	color: #fff;
}

.sidebar-button:hover {
	background-color: rgb(215, 226, 225);
}

.sidebar button {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
	border: none;
	background: none;
}

@media screen and (max-width: 720px) {
	.sidebar-button {
		top: 300px;
	}
}
@media screen and (max-width: 450px) {
	.sidebar-button {
		top: 350px;
	}
	.sidebar {
		min-width: 100%;
	}
}

/* Categories */

.category-box {
	width: 100%;
	text-align: start;
	margin-bottom: 250px;
}
.category-list {
	border: none;
	height: auto;
}

.category-list li {
	cursor: pointer;
	color: #fff;
	font-size: 23px;
	font-weight: 600;
}
.category-list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 5px 15px 20px;
	font-size: 25px;
	transition: all 0.7s ease-in-out;
	text-align: start;
	text-transform: uppercase;
}

.category-box .category-list .outer-li:after {
	content: "";
	display: block;
	border-bottom: 5px solid var(--bg-color);
}

.category-list-item:hover {
	background-color: var(--bg-color);
}
.angle-icon {
	font-size: 30px;
}

.category .category-list-item {
	padding: 20px;
	width: 100%;
}
.book-list-item {
	display: block;
	padding: 15px 5px 15px 70px;
	font-size: 25px;
	transition: all 0.6s ease;
	text-align: start;
}
.category-box .category-list .inner-li {
	font-weight: normal;
}

.category-box .category-list .inner-li:after {
	content: "";
	display: block;
	border-bottom: 1px solid var(--bg-color);
}

.category-box .category-list .inner-li:hover {
	background-color: rgb(76, 153, 149);
}

.selected-category {
	background-color: var(--bg-color);
	color: #000;
}
.selected-book {
	background-color: #fff;
	color: #000;
	font-weight: 600;
}
